argh==0.26.2
asynctest==0.11.0
beautifulsoup4==4.6.0
certifi==2017.7.27.1
chardet==3.0.4
colorama==0.3.9
docopt==0.6.2
get==0.0.21
idna==2.6
pathtools==0.1.2
post==0.0.13
public==0.0.38
py==1.10.0
pytest==3.2.3
pytest-asyncio==0.8.0
pytest-mock==1.6.3
pytest-watch==4.1.0
PyYAML==3.12
query-string==0.0.12
requests==2.18.4
setupfiles==0.0.50
urllib3==1.22
watchdog==0.8.3
